
<ion-content >
  <div class="bg">

    <ion-item-group >

      <ion-item-divider light>{{'Angeles'|translate}}</ion-item-divider>
      <button ion-item detail-none *ngFor="#acjeep of acjeeps" [navPush]="[JeepDetailsPage, {jeep: acjeep}]">
        <ion-thumbnail item-left>
        <img src="{{acjeep.image}}">
        </ion-thumbnail>
        <h2>{{acjeep.name|translate}}</h2>
        <h3>{{acjeep.color|translate}}</h3>
      </button>

      <ion-item-divider light>{{'Clark'|translate}}</ion-item-divider>
      <button ion-item *ngFor="#cjeep of cjeeps" [navPush]="[JeepDetailsPage, {jeep: cjeep}]">
        <ion-thumbnail item-left>
        <img src="{{cjeep.image}}">
        </ion-thumbnail>
        <h2>{{cjeep.name|translate}}</h2>
        <h3>{{cjeep.color|translate}}</h3>
      </button>

    </ion-item-group>
  </div>

</ion-content>
