.landingpage {

}


// div.ph_map{
// 	position:absolute;
// 	z-index:1;
// 	// background-image: $ph_map;
// 	// width: 95%;
//   // height: 90vh;
//   // background-size: 93%;
//   // background-repeat: no-repeat;
// }
div.pin_icon {
		z-index:10;
    position: absolute;
    height: 60%;
		width: 100%;
		display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
   -webkit-align-items: center;
   align-items: center;
   -webkit-justify-content: center;
   justify-content: center;

	 padding: 0% 10%;


  background-image: $map_pin;
 	background-repeat: no-repeat;
 	background-repeat:no-repeat;
 	background-position: center center;
 	-webkit-background-size: 40%;
 	-moz-background-size: 40%;
 	-o-background-size: 40%;
 	background-size: 40%;
}

div#map_ph {
	z-index: 100;
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  text-align: center;
  height: 100%;
  background-image: $ph_map;
	background-repeat: no-repeat;
	background-repeat:no-repeat;
	background-position: center center;
	background-attachment: fixed;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
}
.geo_inpt{
	padding-left: 10px;
	background:#3493FF;
	color:#fff !important;
}
div.getgeoloc {
	z-index:100;
    display: inline-flex;
    width: 100%;
		// margin-top: 80%;
		padding: 0% 10%;
}
div.geoloc_inputlp{
	width:80%;
  height:40px;
	padding-top:0px;
	border: 1px solid #3493FF;
  background: #3493FF;
}

div.geoloc_btnlp{
	width:20%;
  height:40px;
	padding-top:0px;
  border: 1px solid #9FCCFF;
  background: #fff;
}

div.geoloc_btnlp button {
    height:100%;
		margin: 0px;
}
ion-input#geolocation input.text-input {
    margin: 10px 5px !important;
}
ion-toolbar.geoloc_toolbar.toolbar {
    padding: 10%;
}
