// icomoon custom font icons
@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon.eot?h2vfz5');
    src:    url('../fonts/icomoon.eot?h2vfz5#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?h2vfz5') format('truetype'),
        url('../fonts/icomoon.woff?h2vfz5') format('woff'),
        url('../fonts/icomoon.svg?h2vfz5#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icoMoon-"], [class*=" icoMoon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icoMoon{
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icoMoon-health:before {
    content: "\e900";
    font-size: 5em;

}
.icoMoon-hotel:before {
    content: "\e901";
    font-size: 5em;
}
.icoMoon-jeep:before {
    content: "\e902";
    font-size: 5em;
}

.icoMoon-mall:before {
    content: "\e903";
    font-size: 5em;
}
.icoMoon-police:before {
    content: "\e904";
    font-size: 5em;
}
.icoMoon-resto:before {
    content: "\e905";
    font-size: 5em;
}
.icoMoon-salon:before {
    content: "\e906";
    font-size: 5em;
}
.icoMoon-supermarket:before {
    content: "\e907";
    font-size: 5em;
}
.ion-md-jeepTab:before{
  content: "\e902";

  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// icomoon custom font icons

.mainBackDiv{
  position: absolute;
  overflow: auto;
  top: 0;
  bottom: 0;
  left:0;
  right:0;
  background-image: $bg-pattern;
}

ul.ul-menu li {
    list-style: none;
}

ul.ul-menu {
    margin: 0% !important;
    padding: 0% !important;
}

li.icn {
    margin-bottom: 20%;
}

span.btn-menu-label {
    font-size: 12pt;
    color: #717171;
    white-space: pre-wrap;
}

ion-row.enter {
    border: .5px solid #D8D8D8;
    background: #fff;
    height: 45px;
}

button.btn-menu {
    height: 20%;
}

p {
  margin: 20px 0;
  line-height: 22px;
  font-size: 16px;
}

.upperDiv{
  height:15%;
  padding: 0%
}
.lowerDiv{
  // background-color:#F5F5F5;
  height:80%;
  padding: 0%;
}
