// http://ionicframework.com/docs/v2/theming/


// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.

@import "../pages/landingpage/landingpage";
@import "../pages/main/main";
@import "../pages/jeepney/find-routes/routes.view";
@import "../pages/jeepney/jeep-routes/jeep.view";
@import "../pages/jeepney/jeep-routes/jeep.map";
@import "../pages/jeepney/find-routes/routes.map";
@import "../pages/jeepney/tabs/tabs";

@import "../pages/uni-page/uni-page";
@import "../pages/uni-map-page/uni-map-page";
@import "../pages/uni-detail-page/uni-detail-page";

@import "../components/loading-modal/loading-modal";
