<!-- <ion-header>
  <ion-navbar primary>
      <ion-title>{{'Police Stations'|translate}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <loading-modal id="loading"></loading-modal>
  <div id="police_map"></div>
</ion-content> -->
<ion-header>
  <ion-navbar primary>
    <ion-title>{{item_select_police.name}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding class="police-details card-background-page">
  <div class="mainBackDiv">
    <ion-grid class="grid_details">
      <ion-row>
        <ion-col>
          <ion-slides>
            <ion-slide *ngFor="let photo of photos">
              <img src="{{photo}}" >
            </ion-slide>
          </ion-slides>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <h3 style="font-weight:500; width:100%;">{{item_select_police.name}}</h3>
          {{item_select_police.vicinity}}
        </ion-col>
      </ion-row>

      <ion-row>
          <span id="place_contact"></span>
      </ion-row>

      <ion-row>
        <ion-col>
          <span id="police_rating"></span>
        </ion-col>
      </ion-row>

      <ion-row class="details_btn">
        <ion-col width-50 class="hours_row">
          <span id="operating_hours"></span>
        </ion-col>

        <ion-col width-50>
          <ul id="item_buttons">
            <li class="item_buttons_li">
              <button clear [navPush]="[PoliceMapPage, {item_coordinates_police:item_select_police}]">
                <span class="icoMoon-marker"></span>
              </button><br/>
              <span style="font-size:9pt; color: #B7B7B7;">{{'Map'|translate}}</span>
            </li>
            <li class="item_buttons_li">
              <button clear>
                <span class="icoMoon-website"></span>
              </button><br/>
              <span style="font-size:9pt; color: #B7B7B7;">{{'Website'|translate}}</span>
            </li>
            <!-- <li class="item_buttons_li">
              <button clear>
                <span class="icoMoon-review"></span><br/>
                <span style="font-size:9pt;">Review</span>
              </button>
            </li> -->
          </ul>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-list class="list_reviews">
      <ion-list-header class="list_review_header">
        {{'Reviews'|translate}}
      </ion-list-header>
      <ion-item *ngFor="let review of reviews" class="review_item_list">
        <ion-row>
          <ion-col width-50>
            <h3 style="font-weight:500;">{{review.author_name}}</h3>
            <span class="review_time">{{review.newTime}}</span>
          </ion-col>
          <ion-col width-50 style="padding:0% 1%;">
            <span class="review_rating"></span>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <p class="review_text">{{review.text}}</p>
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-list>

    <div id="police_map_dtl" style="width:100%; height:100%; display:none"></div>
  </div>
</ion-content>
