.police {

}
span.icoMoon.icoMoon-marker {
    font-size: .4em;
}
.toolbar-background{
  background: #2A7EDD;
}
.toolbar-title{
  color:#fff;
}
// .mainBackDiv{
//   position: absolute;
//   overflow: auto;
//   top: 0;
//   bottom: 0;
//   left:0;
//   right:0;
//   background-image: $bg-pattern;
// }
h2.pol_name {
    font-weight: bold;
    font-style: italic;
    margin: 3% 0%;
}
span.pol_address {
    width: 100%;
    font-size: 10pt;
    word-wrap: break-word;
}
span.pol_email {
    font-size: 10pt;
    margin-left: 3%;
}
ul.pol_contacts{
display:inline;
}
ul.pol_contacts li {
    float: left;
    font-size: 11pt;
    list-style: none;
}
ul.pol_contacts li:last-child {
    float: right;
}

ul.pol_contacts li span {
    margin: 0% 4%;
}

.gray-icon{
  color:#969696;
}
